@import '../../variable.scss';

.wrapper {
  width: 100%;
  max-width: 502px;
  height: fit-content;
  margin: 0 auto;
  grid-area: ticketlist;
}

.button {
  width: 502px;
  height: 50px;
  margin-top: 10px;
}

.spin {
  display: block;
  margin-top: 10px;
}
