// color //
$color-white: #fff;
$color-blue: #2196f3;
$color-mainBack: #e5e5e5;
$color-font: #4a4a4a;
$color-font-title-info: #a0b0b9;

$desktop-width: 768px;

// $tabs: tabs;
// $logo: logo;
// $filt: filt;
// $ticketlist: ticketlist;
